$font--text: 'Merriweather', serif;
$font--others: 'Noto Sans', sans-serif;
$blue--lightest: #DBE9F3;
$blue--light: #4266E8;
$blue--dark: #364F61;
$blue--darkest: #201F44;
$green: #42E898;
$gray--light: #9DA8B0;