$font--text: 'Merriweather', serif;
$font--others: 'Noto Sans', sans-serif;
$basic: #F2F2F2;
$blue--gray: #575c6b;
$blue--light: #6C63FF;
$blue--dark: #364F61;
$blue--darkest: #201F44;
$green: #42E898;