@import 'variables';



/* 
====================================
HEADER 
*/
header {
    overflow: hidden;
    background-color: $blue--darkest;
    width: 100%;
    height: 100vh;
}

header::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -180px;
    left: 0;
    background: url(../img/header--bottom.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header__text {
    position: absolute;
    text-align: left;
    width: 30%;
    margin-top: 290px;
    margin-left: 120px;
    z-index: 1;

    h1,
    h2 {
        text-align: left;
    }

    h2 {
        margin-top: -10px;
    }
}

.scrolldown {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 20px 40px -9px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 20px 40px -9px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 20px 40px -9px rgba(0, 0, 0, 0.5);
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url(../img/scroll.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s transform ease-in-out;
}

.scrolldown:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
}

.button--header {
    background-color: $basic;
    color: $blue--darkest;
    border-color: $basic;
    margin-top: 100px;
    transition: 0.3s background-color, color, border-color ease-in-out;
}

.button--header:hover {
    background-color: $green;
    border-color: $green;
    color: $basic;
}

.vector {
    position: absolute;
}

.vector--1 {
    left: 200px;
    top: -170px;
}

.vector--2 {
    right: -200px;
    top: -300px;
}

.vector--3 {
    left: -200px;
    bottom: -20px;
}

.vector--illustration {
    right: 150px;
    top: 240px;
}

.vectors--header {
    position: relative;
    width: 100vw;
    height: 100vh;
}



/*
====================================
PEOPLE
*/
.people {
    padding-top: 30px;
    margin-top: 170px;
    position: relative;
}

.people__box {
    margin-top: 50px;
    width: 400px;
    height: 600px;
    border-radius: 4px;
    background: darkblue;
    text-align: center;
    color: $basic;
    font-weight: 700;
    font-family: $font--others;
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.25);
    position: relative;
    transition: transform 0.3s ease-in-out;


    .people__box--icons {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        font-size: 1.35em;
        color: $basic;
        z-index: 200;
    }

    .people__box--name {
        position: absolute;
        bottom: 90px;
        left: 0;
        right: 0;
        font-family: $font--others;
        font-size: 1.35em;
        color: $green;
        font-weight: bold;
        text-align: center;
        z-index: 200;
    }

    .people__box--function {
        text-align: center;
        position: absolute;
        font-family: $font--others;
        color: $basic;
        bottom: 50px;
        left: 0;
        right: 0;
        z-index: 200;
    }

    div, i {
        display: none;
    }
}

.people__box:hover {
    div, i {
        display: block;
    }

    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
}

.people__box::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.62) 0%, rgba(32,32,80,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.62) 0%,rgba(32,32,80,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.62) 0%,rgba(32,32,80,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e000000', endColorstr='#202050',GradientType=0 );
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.people__box:hover::after {
    opacity: 1;
}

.people__box--1 {
    background: url(../img/people--1.png) center no-repeat;
}

.people__box--2 {
    background: url(../img/people--2.png) center no-repeat;
}

.people__box--3 {
    background: url(../img/people--3.png) center no-repeat;
}



/*
====================================
OFFER
*/
.offer {
    height: auto;
    padding-bottom: 250px;
    background-color: #403E83;
    margin-top: 100px;
    position: relative;

    h3, h4 {
        color: $basic;
    }

    h3 {
        padding-top: 80px;
    }
}

.offer::before {
    content: '';
    display: block;
    position: absolute;
    top: -600px;
    left: 0;
    background: url(../img/offer--top.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.offer::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -140px;
    left: 0;
    background: url(../img/offer--bottom.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.offer__boxes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 150px;
}

.offer__box {
    margin: 0 30px;
    width: 500px;
    padding: 40px;
    position: relative;
    border-radius: 4px;
    border: 2px solid $blue--light;
    height: 300px;
    transition: 0.3s ease-in-out;

    .offer__box--title {
        color: $green;
        font-size: 2.7em;
        font-family: $font--others;
        font-weight: bold;
        position: absolute;
        left: -50px;
    }

    .offer__box--description {
        color: $basic;
        margin-top: 90px;
    }

    .button--blue {
        position: absolute;
        right: 10px;
        bottom: -21px;
    }
}

.offer__box:nth-child(odd) {
    margin-top: 50px;
}

.offer__box:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);

}



/*
====================================
PORTFOLIO
*/ 
.portfolio {
    height: auto;
    padding-bottom: 250px;
    padding-top: 30px;
    margin-top: 220px;
    position: relative;
}

.portfolio__boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 150px;
}

.portfolio__box {
    width: 640px;
    border-radius: 4px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    transition: transform 0.3s ease-in-out;

    .portfolio__box--name {
        position: absolute;
        bottom: 90px;
        left: 0;
        right: 0;
        font-family: $font--others;
        font-size: 1.35em;
        color: $basic;
        font-weight: bold;
        text-align: center;
        z-index: 200;

    }
    
    .portfolio__box--description {
        text-align: center;
        position: absolute;
        font-family: $font--others;
        color: $basic;
        bottom: 50px;
        left: 0;
        right: 0;
        z-index: 200;
    }

    div {
        display: none;
    }
}

.portfolio__box:hover {
    div {
        display: block;
    }

    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
}

.portfolio__box::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.62) 0%, rgba(32, 32, 80, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.62) 0%, rgba(32, 32, 80, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.62) 0%, rgba(32, 32, 80, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e000000', endColorstr='#202050', GradientType=0);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.portfolio__box:hover::after {
    opacity: 1;
}

.portfolio__box--1 {
    background: url(../img/portfolio--1.png) center no-repeat;
}

.portfolio__box--2 {
    background: url(../img/portfolio--2.png) center no-repeat;
}

.portfolio__box--3 {
    background: url(../img/portfolio--3.png) center no-repeat;
}

.portfolio__box--4 {
    background: url(../img/portfolio--4.png) center no-repeat;
}



/*
====================================
CONTACT
*/
.contact {
    background: $blue--darkest;
    background-size: cover;
    height: 510px;
    margin-top: -100px;
    position: relative;

    h3 {
        color: $basic;
        padding-top: 210px;
    }

    .button--send {
        margin: 0 auto;
        text-align: center;
        display: block;
    }
}

.contact::before {
    content: '';
    display: block;
    position: absolute;
    top: -173px;
    left: 0;
    background: url(../img/contact--top.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contact::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -220px;
    left: 0;
    background: url(../img/contact--bottom.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.vector--4 {
    right: 0;
    top: -500px;
    z-index: -1;
}

.vector--5 {
    left: 0;
    top: 400px;
    z-index: -1;
}