@import 'variables';

/* 
====================================
HEADER 
*/

header {
    overflow: hidden;
    background-color: $blue--darkest;
    border-bottom-left-radius: 200% 30%;
    border-bottom-right-radius: 500% 40%;
    height: 106vh;
}

.header__text {
    position: absolute;
    text-align: left;
    width: 600px;
    margin-top: 290px;
    margin-left: 120px;
    z-index: 1;

    h1,
    h2 {
        text-align: left;
    }

    h2 {
        margin-top: -10px;
    }
}

.scrolldown {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 20px 40px -9px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 20px 40px -9px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 20px 40px -9px rgba(0, 0, 0, 0.5);
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url(../img/scroll.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s transform ease-in-out;
}

.scrolldown:hover {
    transform: scale(1.1);
}

.button--header {
    background-color: $basic;
    color: $blue--darkest;
    border-color: $basic;
    margin-top: 100px;
    transition: 0.3s background-color, color, border-color ease-in-out;
}

.button--header:hover {
    background-color: $green;
    border-color: $green;
    color: $basic;
}

.vector {
    position: absolute;
}

.vector--1 {
    left: 200px;
    top: -170px;
}

.vector--2 {
    right: -200px;
    top: -300px;
}

.vector--3 {
    left: -200px;
    bottom: -170px;
}

.vector--illustration {
    right: 150px;
    top: 240px;
}

.vectors--header {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* 
====================================
BLOG 
*/
.post {
    margin-top: 100px;
    position: relative;
    width: 800px;

    p {
        font-weight: lighter;
    }

    h5:hover {
        color: $blue--light;
        text-decoration: underline;
    }
}

.post__user {
    font-family: $font--others;
    font-size: 0.8em;
    position: relative;
}

.post__user--name {
    font-weight: bold;
    position: absolute;
    left: 80px;
    color: $blue--dark;
}

.post__user--date {
    position: absolute;
    left: 80px;
    top: 28px;
}

.post__tag {
    position: absolute;
    width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: $blue--darkest;
    top: 0;
    right: 0;
    font-family: $font--others;
    font-size: 0.8em;
    font-weight: bold;
    color: $basic;
    border-radius: 4px;
}

.post__image {
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.25);
    margin-top: -20px;
    margin-bottom: 30px;
}

.post__buttons {
    button {
        margin-top: 30px;
        margin-right: 20px;
    }
    
    :nth-child(3) {
        margin-top: 80px;
    }
}

/*
====================================
PEOPLE
*/
.people__box {
    margin-top: 50px;
    width: 400px;
    height: 600px;
    border-radius: 4px;
    background: darkblue;
    text-align: center;
    color: $basic;
    font-weight: 700;
    font-family: $font--others;
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.25);

    .people__box--icons {
        font-size: 1.35em;
        margin-top: 33px;
        display: none;
    }

    .people__box--name {
        font-size: 1.35em;
        color: $green;
        margin-top: 430px;
        display: none;
    }

    .people__box--function {
        margin-top: 20px;
        display: none;
    }
}

.people__box::after {
    content: '';
    display: block;
    // to w przypadku kiedy pojawia sie tekst na obrazku
    //margin-top: -557px;
    width: 400px;
    height: 600px;
    border-radius: 4px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.62) 0%, rgba(32,32,80,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.62) 0%,rgba(32,32,80,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.62) 0%,rgba(32,32,80,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e000000', endColorstr='#202050',GradientType=0 );
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.people__box:hover::after {
    opacity: 1;
}

.people__box--1 {
    background: url(../img/people--1.png) center no-repeat;
}

.people__box--2 {
    background: url(../img/people--2.png) center no-repeat;
}

.people__box--3 {
    background: url(../img/people--3.png) center no-repeat;
}
