{% extends "base.html" %}

{% block page_imports %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/detail.css' %}">
{% endblock %}

{% block body %}
    <input class="search" placeholder="What are you looking for? Type in and press enter.">

    <section class="blog">
        <div class="container--post">

            <div class="post">
                <div class="post__user">
                    <img src="{{ post.user.avatar.url }}" class="post__user--avatar">
                    <a href="/{{ username }}"><span class="post__user--name">
                        {{ post.user.first_name }}
                        {{ post.user.last_name }}
                        </span></a>
                    <span class="post__user--date">
                        {{ post.date | date:"d F Y" }}
                    </span>
                </div>

                <div class="post__tag">
                    {{ post.article_type }}
                </div>

                <h5 class="post__title">{{ post.title }}</h5>

                <p>
                    {{ post.content | safe }}
                </p>

                <div class="post__buttons">
                    <button class="button button--normal" type="submit">SHARE<i
                            class="button__icon fas fa-share-alt"></i></button>
                </div>
            </div>

        </div>
    </section>
    <!-- END OF BLOG -->
    {% include "blog/footer.html" %}
{% endblock %}