{% extends 'base.html' %}

{% block body %}
    <input class="search" placeholder="What are you looking for? Type in and press enter.">

    <section class="blog">
        <div class="container--post">

            <div class="categories">
                <p>Choose a category</p>
                <button class="category button button--active">Programming</button>
                <button class="category button button--category">UX/UI</button>
                <button class="category button button--category">Electronics</button>
                <button class="category button button--category">Mathematics</button>
            </div>

            {% for post in object_list %}
                {% include "blog/thumbnail.html" with username=post.user.username first_name=post.user.first_name last_name=post.user.last_name avatar=post.user.avatar date=post.date article_type=post.article_type absolute_url=post.get_absolute_url title=post.title content=post.content %}
                <hr>
            {% endfor %}


            <div class="pagination">

                <a href="?page=1">
                    <button class="button button--category">&laquo;</button>
                </a>

                {% if object_list.has_previous %}
                    <a href="?page={{ object_list.previous_page_number }}">
                        <button class="button button--category">{{ object_list.previous_page_number }}</button>
                    </a>
                {% endif %}

                <a href="?page={{ object_list.number }}">
                    <button class="button button--category">{{ object_list.number }}</button>
                </a>

                {% if object_list.has_next %}
                    <a href="?page={{ object_list.next_page_number }}">
                        <button class="button button--category">{{ object_list.next_page_number }}</button>
                    </a>
                {% endif %}

                <a href="?page={{ object_list.paginator.num_pages }}">
                    <button class="button button--category">&raquo;</button>
                </a>

            </div>
        </div>
    </section>
    <!-- END OF BLOG -->
    {% include "blog/footer.html"%}
{% endblock %}