<div class="post">
    <div class="post__user">
        <img src="{{ avatar.url }}" class="post__user--avatar" alt="author photo">
        <a href="/{{ username }}"><span class="post__user--name">{{ first_name }} {{ last_name }}</span></a>
        <span class="post__user--date">{{ date | date:"d F Y" }}</span>
    </div>

    <form method="GET" action="/blog">
        <button name="category" value="{{ article_type }}" class="post__tag">{{ article_type | safe }}</button>
    </form>

    <a href='{{ absolute_url }}'>
        <h5 class="post__title">{{ title | safe }}</h5>
    </a>

    <p class="post__description">
        {{ content | truncatewords:60| safe }}
    </p>

    <div class="post__buttons">
        <a href='{{ absolute_url }}'>
            <button class="button button--submit" type="submit">READ MORE<i
                    class="button__icon fas fa-arrow-right"></i></button>
        </a>
    </div>
</div>