{% extends "base.html" %}
{% block page_imports %}
        <link rel="stylesheet" href="../static/css/page__404.css">
{% endblock %}

{% block body %}

        <input class="search" placeholder="What are you looking for? Type in and press enter.">
            
        </input>

        <div class="container">
            <div class="container--404">
                <h1>404</h1>
                <h2>Something went wrong.</h2>
                <h3>Watch<br>your<br>back...</h3>
            </div>
        </div>

        <!-- SCRIPTS -->
        <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    </body>
{% endblock %}