<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sample</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/utilities.css">
    <link rel="stylesheet" href="../static/css/page__author.css">
    <link rel="stylesheet" href="../static/css/media.css">
</head>

<body>

    <nav class="topbar">
        <div class="topbar__logo"><a href="../templates/index.html">Sample</a></div>
        <ul class="navigation--main">
            <a href="../templates/blog.html">
                <li>BLOG</li>
            </a>
            <a href="../templates/index.html#projects">
                <li>PROJECTS</li>
            </a>
            <a href="../templates/index.html#team">
                <li>TEAM</li>
            </a>
            <a href="../templates/index.html#offer">
                <li>OFFER</li>
            </a>
            <a href="../templates/index.html#contact">
                <li>CONTACT</li>
            </a>
        </ul>
        <i class="icon icon--search fas fa-search"></i>
        <a href="../templates/login.html">
            <i class="icon icon--user far fa-user"></i>
        </a>
    </nav>
    <!-- END OF NAV -->

    <input class="search" placeholder="What are you looking for? Type in and press enter.">
    </input>

    <section class="author">
        <div class="container">
            <div class="author--basic">
                <img src="/static/img/people--1.png" class="author--img">
                <div class="author--info">
                    <div class="author--icons">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <h3>John Doe</h3>
                    <h4>Designer / Programmer</h4>
                    <div class="author--skills">
                        <i class="fab fa-python"></i>
                        <i class="fab fa-js"></i>
                        <i class="fab fa-css3-alt"></i>
                        <i class="fab fa-html5"></i>
                        <i class="fab fa-angular"></i>
                    </div>
                </div>
            </div>

            <div class="author--flex">
                <div class="author__box">
                    <h5>About</h5>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. </p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="author__box">
                    <h5>Experience</h5>
                    <ul>
                        <li><span>2017 - today</span><br>Porn Guru</li>
                        <li><span>2014 - 2017</span><br>Porn Director</li>
                        <li><span>2010 - 2014</span><br>Porn Freelancer</li>
                        <li><span>1995 - 2010</span><br>Assembly Developer</li>
                    </ul>
                </div>
                <div class="author__box"> 
                    <h5>Latest Posts</h5>
                    <ul>
                        <li><a href="">Consectetur adipiscing elit</a></li>
                        <li><a href="">Labore et dolore magna aliqua</a></li>
                        <li><a href="">sed do eiusmod tempor</a></li>
                        <li><a href="">Ut enim ad minim veniam</a></li>
                        <li><a href="">Ullamco laboris nisi ut aliquip ex ea commodo consequat</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF AUTHOR -->

    <section class="footer">
        <div class="container">
            <hr>
            <div class="footer__menu">
                <div class="footer__menu--1">
                    <h6>Sample</h6>
                    <a href="mailto: mail@gmail.com">mail@gmail.com</a>
                </div>
                <div class="footer__menu--2">
                    <h6>Menu</h6>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Authors</a></li>
                        <li><a href="#">Offer</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer__menu--3">
                    <h6>Latest Posts</h6>
                    <ul>
                        <li><a href="#">Ad minim veniam, quis nostrud
                                exercitation ullamco laboris.</a></li>
                        <li><a href="#">Duis aute irure dolor in reprehenderit.</a></li>
                        <li><a href="#">In voluptate velit esse.</a></li>
                    </ul>
                </div>
                <div class="footer__menu--4">
                    <h6>Social Media</h6>
                    <a href="#"><img src="../static/img/icon--fb.svg" alt=""></a>
                    <a href="#"><img src="../static/img/icon--twitter.svg" alt="">
                    </a>
                    <a href="#"><img src="../static/img/icon--instagram.svg" alt=""></a>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF FOOTER -->

    <!-- SCRIPTS -->
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
        integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous">
    </script>
</body>

</html>
