<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Sample</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utilities.css' %}" />
    <link rel="stylesheet" href="{% static 'css/page__index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/page__blog.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media.css' %}" />
    {% block page_imports %} {% endblock %}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body>
    <nav class="topbar">
      <div class="topbar__logo"><a href="{% url 'home-page' %}">Sample</a></div>
      <ul class="navigation--main">
        <a href="{% url 'blog' %}">
          <li>BLOG</li>
        </a>
        <a href="{% url 'home-page' %}#projects">
          <li>PROJECTS</li>
        </a>
        <a href="{% url 'home-page' %}#team">
          <li>TEAM</li>
        </a>
        <a href="{% url 'home-page' %}#offer">
          <li>OFFER</li>
        </a>
        <a href="{% url 'home-page' %}#contact">
          <li>CONTACT</li>
        </a>
      </ul>

      <div id="button--search">
        <i class="icon icon--search fas fa-search"></i>
      </div>

      <div class="nav__hamburger">
        <div class="hamburger">
          <div class="hamburger__bar--1"></div>
          <div class="hamburger__bar--2"></div>
          <div class="hamburger__bar--3"></div>
        </div>

        <ul class="hamburger__menu">
          <li>
            <a class="hamburger__entry" href="{% url 'blog' %}">BLOG</a>
          </li>
          <li>
            <a class="hamburger__entry" href="{% url 'home-page' %}#projects">PROJECTS</a>
          </li>
          <li>
            <a class="hamburger__entry" href="{% url 'home-page' %}#team">TEAM</a>
          </li>
          <li>
            <a class="hamburger__entry" href="{% url 'home-page' %}#offer">OFFER</a>
          </li>
          <li>
            <a class="hamburger__entry" href="{% url 'home-page' %}#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </nav>

    <input class="search invisible" placeholder="What are you looking for? Type in and press enter."></input>

    {% block body %} {% endblock %}

    <!-- SCRIPTS -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
      integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js">
    </script>
    <script>
        AOS.init();
    </script>
    <script>
      const searchButton = document.querySelector('#button--search');
      const searchBar = document.querySelector('.search');

      console.log('test');

      searchButton.addEventListener('click', () => {
        searchBar.classList.toggle('invisible');
        console.log('test');
      });
    </script>
    <script>
      const hamburgerIcon = document.querySelector('.hamburger');
      const hamburgerMenu = document.querySelector('.hamburger__menu');
      const hamburgerEntries = document.querySelectorAll('.hamburger__entry');

      for(let i = 0; i < hamburgerEntries.length; i++) {
          let item = hamburgerEntries[i];
          item.addEventListener('click', toggleHamburger);
      }

      hamburgerIcon.addEventListener('click', toggleHamburger);

      function toggleHamburger() {
          hamburgerIcon.classList.toggle("clicked");
          hamburgerMenu.classList.toggle("show");
      }
    </script>
  </body>
</html>
