<section class="footer">
    <div class="container">
        <div class="footer__menu">
            <div class="footer__menu--1">
                <h6>TScode</h6>
                <a href="mailto: webdesign@frankiewicz.com.pl">Get in touch</a>
            </div>
            <div class="footer__menu--2">
                <h6>Menu</h6>
                <ul>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'home-page' %}#projects">Projects</a></li>
                    <li><a href="{% url 'home-page' %}#team">Authors</a></li>
                    <li><a href="{% url 'home-page' %}#offer">Offer</a></li>
                    <li><a href="{% url 'home-page' %}#contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer__menu--3">
                <h6>Latest Posts</h6>
                <ul>
                    {% for post in last_three_posts %}
                        <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer__menu--4">
                <h6>Social Media</h6>
                {% load static %}
                <a href="#"><img src="{% static "img/icon--fb.svg" %}" alt=""></a>
                <a href="#"><img src="{% static "img/icon--twitter.svg" %}" alt=""></a>
                <a href="#"><img src="{% static "img/icon--instagram.svg" %}" alt=""></a>
            </div>
        </div>
    </div>
<p>Our site uses cookies. By staying on our site you agree to the use of cookies.</p>
</section>
<!-- END OF FOOTER -->