{% extends "base.html" %}

{% block body %}
    <header>
        <div class="container">
            <div class="header__text">
                <h1>Nice to meet you.</h1>
                <h2>This is a place where you can broaden your horizons at programming, UX/UI design and electronics.
                </h2>
                <button class="button button--submit button--header" type="submit">GET TO KNOW US<i
                        class="button__icon fas fa-arrow-right"></i></button>
            </div>
        </div>

        <div class="vectors--header">
            {% load static %}
            <img class="vector vector--illustration" src="{% static "img/header__illustration.svg" %}" alt="">
            <img class="vector vector--1" src="{% static "img/vector-2.svg" %}" alt="">
            <img class="vector vector--2" src="{% static "img/vector-1.svg" %}" alt="">
            <img class="vector vector--3" src="{% static "img/vector-1.svg" %}" alt="">
        </div>

        <div class="scrolldown"></div>
    </header>
    <!-- END OF HEADER -->

    <section class="blog">
        <div class="container--post">
            <h3>Blog</h3>
            <h4>latest entry</h4>
            {% include "blog/thumbnail.html" with first_name=post.user.first_name last_name=post.user.last_name date=post.date article_type=post.article_type absulute_url=post.get_absolute_url title=post.title content=post.content %}
        </div>
    </section>
    <!-- END OF BLOG -->

    <section class="people" id="team">
        <h3>People</h3>
        <h4>in charge of this site</h4>
        <div class="container--people">
            <a href="{% url 'tymek' %}">
                <div class="people__box people__box--1">
                    <div class="people__box--icons">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <div class="people__box--name">
                        Tymoteusz Frankiewicz
                    </div>
                    <div class="people__box--function">
                        Python devotee
                    </div>
                </div>
            </a>

            <a href="{% url 'szymonw' %}">
                <div class="people__box people__box--2">
                    <div class="people__box--icons">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <div class="people__box--name">
                        Szymon Wiśniewski
                    </div>
                    <div class="people__box--function">
                        Frontend wizard
                    </div>
                </div>
            </a>

            <a href="{% url 'szymonf' %}">
                <div class="people__box people__box--3">
                    <div class="people__box--icons">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <div class="people__box--name">
                        Szymon Frankiewicz
                    </div>
                    <div class="people__box--function">
                        DevOps guy
                    </div>
                </div>
            </a>
        </div>
        <img src="{% static "img/vector--3.svg" %}" class="vector vector--4" alt="">
    </section>
    <!-- END OF PEOPLE -->

    <section class="offer" id="offer">
        <div class="container--offer">
            <h3>Offer</h3>
            <h4>we are confident in</h4>

            <div class="offer__boxes">
                <div class="offer__box">
                    <span class="offer__box--title">
                        We are blogging.
                    </span>
                    <p class="offer__box--description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna
                        aliqua.
                    </p>
                    <button class="button button--blue" type="submit">READ MORE<i
                            class="button__icon fas fa-arrow-right"></i></button>
                </div>
                <div class="offer__box">
                    <span class="offer__box--title">
                        Available for hire.
                    </span>
                    <p class="offer__box--description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna
                        aliqua.
                    </p>
                    <button class="button button--blue" type="submit">READ MORE<i
                            class="button__icon fas fa-arrow-right"></i></button>
                </div>
                <div class="offer__box">
                    <span class="offer__box--title">
                        We are programming.
                    </span>
                    <p class="offer__box--description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna
                        aliqua.
                    </p>
                    <button class="button button--blue" type="submit">READ MORE<i
                            class="button__icon fas fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF OFFER -->


    <section class="portfolio" id="projects">
        <div class="container--portfolio">
            <h3>Portfolio</h3>
            <h4>projects we are proud of</h4>

            <div class="portfolio__boxes">
                <div class="portfolio__box portfolio__box--1">
                    <div class="portfolio__box--name">
                        FB Redesign
                    </div>
                    <div class="portfolio__box--description">
                        DESIGN
                    </div>
                </div>

                <div class="portfolio__box portfolio__box--2">
                    <div class="portfolio__box--name">
                        Kancelaria Chmielewscy
                    </div>
                    <div class="portfolio__box--description">
                        HTML / CSS / JS / SEO / DESIGN
                    </div>
                </div>

                <div class="portfolio__box portfolio__box--3">
                    <div class="portfolio__box--name">
                        homeBrain
                    </div>
                    <div class="portfolio__box--description">
                        FLASK / HTML / CSS / JS / DESIGN
                    </div>
                </div>

                <div class="portfolio__box portfolio__box--4">
                    <div class="portfolio__box--name">
                        SeedMed
                    </div>
                    <div class="portfolio__box--description">
                        WordPress / HTML / CSS / JS / SEO / DESIGN
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static "img/vector--4.svg" %}" class="vector vector--5" alt="">
    </section>
    <!-- END OF PORTFOLIO -->

    <section class="contact" id="contact">
        <div class="container--post">
            <h3>Any questions? Simply ask us,
                we will answer as soon as possible.</h3>

            <button class="button button--send">Send Mail</button>
        </div>
    </section>
    <!-- END OF PORTFOLIO -->
    {% include "footer.html" %}
{% endblock %}