{% extends "base.html" %}

{% block page_imports %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page__author.css' %}">
{% endblock %}

{% block body %}
    <section class="author">
        <div class="container">
            <div class="author--basic">
                <img src="{% static "/img/people--3.png"%}" class="author--img">
                <div class="author--info">
                    <div class="author--icons">
                        <a href="https://www.linkedin.com/in/szymon-frankiewicz-8ba881106/"> <i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <h3>Szymon Frankiewicz</h3>
                    <h4>DevOps and electronics hobbyist</h4>
                    <div class="author--skills">
                        <i class="fab fa-windows"></i>
                        <i class="fab fa-linux"></i>
                        <i class="fab fa-docker"></i>
                    </div>
                </div>
            </div>

            <div class="author--flex">
                <div class="author__box">
                    <h5>About</h5>
                    <p>Interested mainly in low level concepts. In my free time I'm experimenting
                    with IoT stuff. Sauna connoisseur</p>
                </div>
                <div class="author__box">
                    <h5>Experience</h5>
                    <ul>
                        <li><span>2017 - today</span><br>MWT Solutions S.A</li>
                        <li><span>2014 - 2016</span><br>Forcom</li>
                    </ul>
                </div>
                <div class="author__box">
                    <h5>Latest Posts</h5>
                    {% for post in last_three_posts %}
                        <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- END OF AUTHOR -->
    {% include "footer.html" %}
{% endblock %}