{% extends "base.html" %}

{% block page_imports %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page__author.css' %}">
{% endblock %}

{% block body %}
    <input class="search" placeholder="What are you looking for? Type in and press enter.">

    <section class="author">
        <div class="container">
            <div class="author--basic">
                <img src="/static/img/people--1.png" class="author--img">
                <div class="author--info">
                    <div class="author--icons">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <h3>Szymon Frankiewicz</h3>
                    <h4>DevOps and electronics hobbyist</h4>
                    <div class="author--skills">
                        <i class="fab fa-js"></i>
                        <i class="fab fa-angular"></i>
                        <i class="fab fa-css3-alt"></i>
                        <i class="fab fa-html5"></i>
                    </div>
                </div>
            </div>

            <div class="author--flex">
                <div class="author__box">
                    <h5>About</h5>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. </p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="author__box">
                    <h5>Experience</h5>
                    <ul>
                        <li><span>2017 - today</span><br>Porn Guru</li>
                        <li><span>2014 - 2017</span><br>Porn Director</li>
                        <li><span>2010 - 2014</span><br>Porn Freelancer</li>
                        <li><span>1995 - 2010</span><br>Assembly Developer</li>
                    </ul>
                </div>
                <div class="author__box">
                    <h5>Latest Posts</h5>
                    {% for post in last_three_posts %}
                        <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- END OF AUTHOR -->
    {% include "footer.html" %}
{% endblock %}