{% extends "base.html" %}

{% block page_imports %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page__author.css' %}">
{% endblock %}

{% block body %}
    <input class="search" placeholder="What are you looking for? Type in and press enter.">

    <section class="author">
        <div class="container">
            <div class="author--basic">
                <img src="/static/img/people--1.png" class="author--img">
                <div class="author--info">
                    <div class="author--icons">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <h3>Tymoteusz Frankiewicz</h3>
                    <h4>Python & Linux devotee</h4>
                    <div class="author--skills">
                        <i class="fab fa-python"></i>
                        <i class="fab fa-css3-alt"></i>
                        <i class="fab fa-html5"></i>
                    </div>
                </div>
            </div>

            <div class="author--flex">
                <div class="author__box">
                    <h5>About</h5>
                    <p>
                        I am programming since 2014, and since then I tried writing mobile apps, static websites and
                        terrible C++ and Java code for desktop applications.
                    </p>
                    <p>
                        Currently enrolled in Computer Science. I dabble in any kind of development in Python.
                        I'm passionate Linux user, and I'm still discovering it's awesomeness.
                    </p>
                    <p>
                        Since July 2019 I'm writing buggy software for Nokia
                    </p>
                </div>
                <div class="author__box">
                    <h5>Experience</h5>
                    <ul>
                        <li><span>2019.07 - today</span><br>Nokia Python Trainee</li>
                    </ul>
                </div>
                <div class="author__box">
                    <h5>Latest Posts</h5>
                    {% for post in last_three_posts %}
                        <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- END OF AUTHOR -->
    {% include "footer.html" %}
{% endblock %}